
.content {
  position: absolute;
  overflow: hidden;
  top: 5em; left: 1em; bottom: 1em; right: 1em;

  background: #fff;
}

.no-slide {
  position: absolute;
  width: 100%;
  display: none;
}

&.no-slide {
  .content, .btn-toolbar { display:none; }
  .no-slide { display:block; }
}

.editable {
  font-size: 6em;
}

code.editable {
  font-size: 3em;
}

