
ol {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.content {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    background: red;
    -webkit-transform-origin: left top;
    overflow: hidden;
}
