.slides-list {
    position: absolute;
    width: 13%; height: 100%;
    top: 0; left: 0; bottom: 0;
}
.slide-editor {
    position: absolute;
    width: auto; 
    top: 0; left: 13%; right: 0; bottom: 0;

    border-left: 1px solid #ccc;

    padding: 1em;

    .content {
      position: absolute;
      width: 100%;
      top: 5em; left: 0; bottom: 0;

      background: #fafafa;
    }
}
