<div class="btn-group tools">
  <button type="button" data-tool="text" class="btn btn-default"><span class="glyphicon glyphicon-font"></span></button>
  <button type="button" data-tool="code" class="btn btn-default"><span class="glyphicon glyphicon-copyright-mark"></span></button>
</div>

<div class="btn-group align">
  <button type="button" data-tool="left" class="btn btn-default"><span class="glyphicon glyphicon-align-left"></span></button>
  <button type="button" data-tool="center" class="btn btn-default"><span class="glyphicon glyphicon-align-center"></span></button>
  <button type="button" data-tool="right" class="btn btn-default"><span class="glyphicon glyphicon-align-right"></span></button>
</div>
