<div class="btn-group tools">
  <button type="button" data-tool="text" class="btn btn-default"><span class="glyphicon glyphicon-font"></span></button>
  <button type="button" data-tool="code" class="btn btn-default"><span class="glyphicon glyphicon-copyright-mark"></span></button>
  <button type="button" data-tool="logger" class="btn btn-default"><span class="glyphicon glyphicon-list"></span></button>

  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-picture"> <span class="caret"></span></span>
    </button>
    <ul class="dropdown-menu images">
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-th-large"> <span class="caret"></span></span>
    </button>
    <ul class="dropdown-menu components">
      <li data-component="folders"><a href="#">Folders</a></li>
      <li data-component="controls"><a href="#">Controls</a></li>
      <li data-component="controls-debug"><a href="#">Controls Debug</a></li>
      <li data-component="compose"><a href="#">Compose</a></li>
    </ul>
  </div>

</div>

<div class="btn-group align" data-key="align">
  <button type="button" data-tool="left" class="btn btn-default"><span class="glyphicon glyphicon-align-left"></span></button>
  <button type="button" data-tool="center" class="btn btn-default"><span class="glyphicon glyphicon-align-center"></span></button>
  <button type="button" data-tool="right" class="btn btn-default"><span class="glyphicon glyphicon-align-right"></span></button>
</div>

<div class="btn-group color" data-key="color">
  <button type="button" data-tool="dark" class="btn btn-default">Dark</button>
  <button type="button" data-tool="light" class="btn btn-default">Light</button>
  <button type="button" data-tool="alternate" class="btn btn-default">Alternate</button>
</div>

<div class="btn-group language" data-key="language">
  <button type="button" data-tool="javascript" class="btn btn-default">JavaScript</button>
  <button type="button" data-tool="html" class="btn btn-default">HTML</button>
</div>

<div class="btn-group save" style="float:right">
  <button type="button" data-tool="save" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button>
</div>
